name: Autograder
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  grading:
    permissions: write-all
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]' 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
           path: submission

      - name: Run Autograder
        uses: webtech-network/autograder@v1
        with: 
          template_preset : "webdev"
          feedback-type: "ai"
          openai_key: ${{ secrets.ENGINE }}
          redis_url: ${{ secrets.REDIS_URL }}
          
          redis_token: ${{ secrets.REDIS_NAME }}
          
